.product {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-content {
    display: flex;
    flex: 1;
}

.product-img {
    flex-shrink: 0;
    margin-right: 16px;
}

.product-img img {
    max-width: 120px;
    height: auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    margin-bottom: 16px;
    text-align: center;
}

.product-description {
    margin-bottom: 8px;
}

.product-features {
    margin-bottom: 4px;
}

.product-price {
    margin-top: 16px;
}

.btns-wrap {
    justify-content: center;
}
.product-quantity {
    display: flex;
    flex-direction: row;
}
