.menu-item-active,
.menu-item {
    text-decoration: none;
}
.menu-item {
    color: white;
}

.menu-item-active {
    color: #ff00cf;
}
// .menu-item:visited {
//     color: #fc95b5;
// }
.menu-item:hover {
    color: #ff00cf;
}
